<!DOCTYPE html>
<html>

<head>
    <title>Hệ thống tưới cây thông minh</title>
    <link rel="icon" type="image/png" href="/image/icons/smart-farm.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/vendors/css/grid.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/queries.css">
</head>

<body>
    <header>
        <!-- <nav class="top">
            <a href="#">Hệ thống tưới cây thông minh</a>
            <nav class="main-nav">
                <a href="#" class="btn">Đăng xuất</a>
                <a href=""><img class="user" src=".//image/user.png" alt="logo"></a>
            </nav>
        </nav> -->
        <nav class="top">
            <a href="#" class="btn">Đăng xuất</a>
            <a href="#"><img class="avt" src="image/user.png" alt="logo"></a>
            <H2><span style="font-family: Segoe Script">Hệ thống tưới cây thông minh</span></H2>
        </nav>

        <nav class="mid">
            <a href="temphumi"><img class="imgBtn" src="image/view status.png" alt="logo"></a>
            <a href="pumping"><img class="imgBtn" src="/image/pump.png" alt="logo"></a>
            
        </nav>
        
        <nav class="mid1">
            <li><span style="font-family: Segoe UI">Xem trạng thái</span></li>
            <li><span style="font-family: Segoe UI">Bơm nước</span></li>
        </nav>

        <nav class="mid2">
            <a href="scheduling"><img class="imgBtn" src="/image/schedule.png" alt="logo"></a>
            <a href="history"><img class="imgBtn" src="/image/history.png" alt="logo"></a>
        </nav>

        <nav class="mid3">
            <li><span style="font-family: Segoe UI">Lên lịch tưới</span></li>
            <li><span style="font-family: Segoe UI">Lịch sử</span></li>
        </nav>
        
    </header>
</body>

</html>