<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
<head>
    <title>Đăng nhập thất bại</title>
    <meta charset="utf-8" />
    <link href="/css/login.css"  rel="stylesheet" />

</head>
<body>
    <div class="panel">
        <table class="table"border="1" cellspacing="0">
            <tr>
                <td class="notif">Đăng nhập không thành công!</td>
            </tr>
            <tr>
                <td>
                    <div class="notifdetail">
                        Bạn đã nhập sai tên đăng nhập hoặc mật khẩu! Xin vui lòng nhập lại.
                    </div>
                    <a href="/">
                        <img src="/image/button.png"class="button" alt="" />
                    </a>

                </td>
            </tr>
        </table>
    </div>
    
</body>
</html>