<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Hệ thống tưới cây thông minh</title>
    <link rel="icon" type="image/png" href="/image/icons/smart-farm.png"/>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <form class="box" action="/homepage" method="POST" id = "my-form">
        <h1>
            HỆ THỐNG
        </h1>
        <h1>
            TƯỚI CÂY THÔNG MINH
        </h1>
            <input type="text" name="username" placeholder="Tên đăng nhập" />
            <input type="password" name="password" placeholder="Mật khẩu" />
            <input type="submit" name="btnLogin" value="Đăng nhập" />
        
            <!-- <a href="homepage" class="btn">Đăng nhập</a> -->
    </form>
    <script src="/script/login.js"></script>
</body>
</html>