<!DOCTYPE html>
<html>
    <header>
        <title>Thành công</title>
        <link rel="stylesheet" href="/css/successful.css">
        <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet" type="text/css">
    </header>
    <body>
        <div class="image">
            <img src="/image/tick.png" alt="Success">
        </div>
        <div class="text">
            <p>Thành công!</p>
        </div>
        <div class="home">
            <a href="/pumping"><button>Quay về trang trước</button></a> 
        </div>
    </body>
</html>