*{
    color: #011f4b;
    /* rgb(01,31,75) */
    color: #03396c;
    /* rgb(03,57,108) */
    color: #005b96;
    /* rgb(0,91,150) */
    color: #6497b1;
    /* rgb(100, 151, 177) */
    color: #b3cde0;
    /* rgb(179,205, 224) */
    color: #ffffff
}
/* #011f4b • #03396c • #005b96 • #6497b1 • #b3cde0 */

