/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: lightslategrey;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: lightseagreen;
}

#edit:hover {
    background-color: darkgray;
}

#remove:hover {
    background-color: darkgray;
}

#close-form:hover {
    color: lightcoral;
}

* {
    font-size: 20px;
    font-family: Arial;
}

.info-bar {
    float: right;
    padding-top: 1em;
    padding-right: 5.5em;
  }
  
  .info-bar button {
    font-size: 20px;
    color: rgb(243, 241, 241);
    background-color: rgb(87, 86, 86);
    border: none;
    width: 10em;
    height: 2.5em;
    border-radius: 50px;
  }
  
  .info-bar button:hover {
    background-color: rgb(29, 29, 29);
  }